<div ng-controller="Form" class=container>
  <div class="row">
    <div class="col-md-12">
      <form>
        <h1>Simple Github API Test App</h1>
        <p>Enter a single Github username below, and click the button to display a profile info.</p>
        <div class="form-group">
          <input type="text" id="gitHubUsername" ng-model="username" placeholder = "Enter Github username">
        </div>
        <button href="#" id="githubSubmit" ng-click="GetGitHubInfo()">Get User Data</button>
        <div id="githubApiData" class="clearfix"></div>
      </form>
    </div>
  </div>
  <div class="row">
    <div ng-show="userNotFound">
      <h2>No Github user data found</h2>
    </div>
  </div>
  <div class="row">
    <div ng-show="userDataLoaded" class="col-md-12">
      <h2>{{user.name}}
        <span class="smallname">
          (@<a href="{{user.html_url}}" target="_blank" {{user.login}} </a></span>
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="githubContent">
            <a href="user.html_url" target="_blank">
              <img src="{{user.avator_url}}" alt="{{user.login}}">
            </a>
            <p>{{test}}</p>
            <p>
              Followers: {{user.followers}} - Following {{user.following}}<br>Repos: {{user.public_repos}}
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="repolist clearfix">
              <p ng-hide="reposFound">
                No repositories!
              </p>
              <div ng-show="reposFound">
                <p><strong>Repos List:</strong></p>
                <ul ng-repeat="repo in repos">
                  <li><a href="{{repo.html_url}}" target="_blank">{{repo.name}}</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
